*,
*::before,
*::after {
  margin: 0px;
  box-sizing: border-box;
}

p {
  margin-bottom: 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: goldenrod;
  padding: 1rem;
  height: 4rem;
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: goldenrod;
}
